<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Archives</title>
    <link rel="Stylesheet" type="text/css" href="/Content/Css/reset.css" />
    <link rel="Stylesheet" type="text/css" href="/Content/Css/photoblog.css" />

    <script type="text/javascript" src="/Content/Scripts/modernizr-1.7.min.js"></script>
</head>
<body>
    <header><a href="/">MyPhotoBlog</a></header>
    <div id="main">
        <h1>Archives</h1>
        <div id="photo">
            <div>
                <ul class="years">
                @foreach (var yearInfo in Model.Years)
                {
                    <li>
                        <a href="/archives/@yearInfo.Year">@yearInfo.Year</a> (@yearInfo.NumberOfPhotos)
                        <ul class="months">
                            @foreach (var monthInfo in yearInfo.Months)
                            {
                                <li><a href="/archives/@yearInfo.Year/@monthInfo.Month">@monthInfo.MonthName</a> (@monthInfo.NumberOfPhotos)</li>
                            }
                        </ul>
                    </li>
                }
                </ul>
            </div>
        </div>
    </div>
    <footer>MyPhotoBlog is built with <a href="https://github.com/NancyFX/Nancy">Nancy</a> and <a href="https://github.com/markrendle/Simple.Data">Simple.Data</a>.</footer>

    <script type="text/javascript" src="/Content/Scripts/jquery-1.5.2.min.js"></script>
</body>
</html>
