<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>My First View</title>
    <link rel="Stylesheet" type="text/css" href="/Content/Css/reset.css" />
    <link rel="Stylesheet" type="text/css" href="/Content/Css/photoblog.css" />

    <script type="text/javascript" src="/Content/Scripts/modernizr-1.7.min.js"></script>
</head>
<body>
    <header>MyPhotoBlog</header>
    <div id="main">
        <div id="photo">
            <img src="" width="960" height="640" />
        </div>
        <div id="exif">
            <span class="type">Camera:</span> <span id="camera" class="value camera">Sony A200</span>
            <span class="type">Lens:</span> <span id="lens" class="value">Sony DT 50mm F1.8 SAM</span>
            <span class="type">Aperture:</span> <span id="aperture" class="value">f/4</span>
            <span class="type">Exposure:</span> <span id="exposure" class="value">1/250</span>
            <span class="type">ISO:</span> <span id="iso" class="value">200</span>
        </div>
        <nav>
            <a href="#" id="previous">&laquo; Previous</a>
            <a href="#" id="archives">Archives</a>
            <a href="#" id="next">Next &raquo;</a>
        </nav>
    </div>
    <footer>MyPhotoBlog is built with <a href="https://github.com/thecodejunkie/Nancy">Nancy</a> and <a href="https://github.com/markrendle/Simple.Data">Simple.Data</a>.</footer>

    <script type="text/javascript" src="/Content/Scripts/jquery-1.5.2.min.js"></script>
</body>
</html>
