body { font-family:'Myriad Pro', Tahoma, Arial, Sans-Serif; background-color:#F7F7F7; }

header, footer { width:960px; margin:auto; padding:10px 20px; }

header, div#photo, footer, div#exif, nav a, nav span, h1, div#comments { background-color:#EFEFEF; }

header { margin-top:10px; font-size:3em; line-height:1.5em; }

div#main { width:1000px; margin:auto; margin-top:10px; margin-bottom:10px; }

h1 { padding:20px; margin-bottom:10px; font-weight:bold; font-size:1.2em; text-align:center; }

div#photo { padding:20px 0; }

div#photo img { display:block; margin:auto; }
div#photo div { padding-left:20px; }

nav { margin-top:10px; }

div#exif { padding:0px 20px 20px 20px; font-size:.9em; }

div#exif span.type { font-weight:bold; }

div#exif span.value { display:inline-block; margin-right:40px; }

span#camera { width:120px; }
span#lens { width:200px; }
span#aperture { width:40px; }
span#exposure { width:55px; }
span#iso { width:50px; margin:0; }

nav a, nav span { display:inline-block; padding:10px 20px; width:280px; color:#666; }

nav #archives { margin:0 8px; width:298px; text-align:center; }

nav #next { text-align:right; }

nav span { color:#CCC; }

div#comments { margin-top:10px; padding:20px; }

h2 { font-weight:bold; font-size:1.2em; }
h3 { font-weight:bold; }

div#commentsform { margin:10px 20px; background-color:#E3E3E3; padding:20px; }
div#commentsform h3 { margin:20px 0 10px 0; }
div.formitem { margin-top:5px; }
div.formitem label { width:150px; display:inline-block; vertical-align:top; padding-top:8px; }
div.formitem span.mandatory { display:inline-block; vertical-align:top; padding-top:8px; }
div.formitem input { border:1px solid #CCC; width:400px; border-radius:4px; background-color:#F3F3F3; font-size:1em; padding:4px; font-family:'Myriad Pro', Tahoma, Arial, Sans-Serif; }
div.formitem textarea { border:1px solid #CCC; width:400px; height:120px; border-radius:4px; background-color:#F3F3F3; font-size:1em; padding:4px; font-family:'Myriad Pro', Tahoma, Arial, Sans-Serif; }
div.formitem input[type=submit] { margin-left:153px; width:410px; background-color:#EAEAEA; font-weight:bold; }

div#errormessage { margin:10px 0; color:#C00; }

div.commenter { font-weight:bold; margin-top:10px; margin-bottom:4px; }

footer { padding:10px 20px; font-size:.9em; text-align:center; margin-bottom:10px; }