body { font-family:'Myriad Pro', Tahoma, Arial, Sans-Serif; background-color:#F7F7F7; }

header, footer { width:960px; margin:auto; padding:10px 20px; }

header, div#photo, footer, div#exif, nav a { background-color:#EFEFEF; }

header { margin-top:10px; font-size:3em; line-height:1.5em; }

div#main { width:1000px; margin:auto; margin-top:10px; margin-bottom:10px; }

div#photo { padding:20px 0; }

div#photo img { display:block; margin:auto; }

nav { margin-top:10px; }

div#exif { padding:0px 20px 20px 20px; font-size:.9em; }

div#exif span.type { font-weight:bold; }

div#exif span.value { display:inline-block; margin-right:40px; }

span#camera { width:120px; }
span#lens { width:200px; }
span#aperture { width:40px; }
span#exposure { width:55px; }
span#iso { width:50px; margin:0; }

nav a { display:inline-block; padding:10px 20px; width:280px; color:#666; }

nav a#archives { margin:0 8px; width:298px; text-align:center; }

nav a#next { text-align:right; }

footer { padding:10px 20px; font-size:.9em; text-align:center; margin-bottom:10px; }